{% include 'include/base.html' %}
        <!--End: Header-->
        <div class="clearfix"></div>
        <!--Begin: Main-->
        <div id="main-wrapper">
            <div id="mw-top">
                <div class="container">
                    <div class="mwt-content">
                        <div class="mwh-logo">
                            <a href="/" class="mwh-logo-div">
                                <div><h2>GameSite</h2></div>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div id="xsearch" class="home-search">
                            <div class="search-content">
                                <form action="/search" autocomplete="off" id="search-form">
                                    <div class="search-submit">
                                        <div class="search-icon btn-search"><i class="fa fa-search"></i></div>
                                    </div>
                                    <input type="text" class="form-control search-input" name="keyword"
                                        placeholder="Enter anime name...">
                                </form>
                            </div>
                            <div class="description text-center mb-3">GameSite - Just a better place to get your favorite games news & info.
                                for free!
                            </div>
                            <div class="show-share">
                                <div class="addthis_inline_share_toolbox"></div>
                            </div>
                            <div class="mw-buttons text-center">
                                <div class="block mb-2"><a target="_blank" href="https://twitter.com/Lattey999"
                                        class="btn btn-highlight"><i class="fab fa-twitter"></i>
                                        Connect with us on twitter</a></div>
                                <div class="block"><a href="{% url 'fhome' %}" class="btn btn-lg btn-focus more-padding">Go to home
                                        page</a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mw-text">
                <div class="container">

                    <p>Welcome to GameSite – your ultimate destination for all things gaming! Whether you're a passionate gamer, an enthusiastic fan, or just someone curious about the world of gaming, you've arrived at the perfect virtual haven.</p>
                    <p>At GameSite, we're dedicated to providing you with a comprehensive and immersive experience that revolves around your favorite video games. Our platform is designed to be your one-stop source for all the latest updates, news, and information about the games that excite you the most.</p>
                    
                    <p>Picture a place where you can effortlessly access a treasure trove of details about upcoming game releases, detailed reviews, captivating gameplay insights, and breaking news from the dynamic realm of gaming. We understand that gaming is more than just a hobby; it's a lifestyle, a culture, and a community. That's why we've curated a diverse range of content that caters to both casual players and hardcore enthusiasts.</p>
                    <p >Navigating through GameSite, you'll discover:</p>
                    <h2 class="mt-h-medium">Navigating through GameSite, you'll discover:</h2>
                    <h2 class="mt-h-medium">1. Game Profiles:</h2>
                    <p> Dive deep into meticulously crafted profiles of your most cherished games. Whether you're into action, adventure, RPGs, or sports simulations, we've got you covered. Each profile offers an in-depth exploration of the game's features, mechanics, and the captivating world it transports you to.</p>
                    <h2 class="mt-h-medium">2. News and Updates:</h2>
                    <p> Stay on the cutting edge of gaming with our up-to-the-minute news coverage. From major announcements and developer insights to exclusive leaks, you'll never miss a beat when it comes to the games that matter to you.</p>
                    <h2 class="mt-h-medium">3. Release Calendar:</h2>
                    <p>Always be in the know about the release dates of upcoming titles. Our calendar keeps you informed about the games that are about to drop, ensuring you're prepared to embark on new adventures from day one.</p>
                    <h2 class="mt-h-medium">5. Reviews and Analysis:</h2>
                    <p>Whether you're seeking a critical analysis of a game's storytelling or an evaluation of its technical aspects, our reviews offer well-rounded perspectives to help you make informed decisions about which games to explore next.</p>
                    
                    
                    <h2 class="mt-h-medium">What's the new website of 9anime? Which 9anime is real?</h2>
                    <p>No matter if you're a console aficionado, a PC purist, or an avid mobile gamer, GameSite embraces the diverse platforms that make up the gaming landscape. Our mission is to foster an environment where everyone can come together to celebrate the creativity, innovation, and joy that gaming brings into our lives.</p>
                    <ul>
                        <li><strong>So, welcome to GameSite –</strong> your passport to the ever-evolving universe of gaming. Let's embark on a journey of discovery, excitement, and camaraderie as we explore the realms of virtual worlds, epic stories, and heart-pounding action. Your adventure starts here!
                        </li>
                       
                
                    </ul>
            
                    <ul>
                        <li>GameSite twitter : https://twitter.com</li>
                        <li>GameSite reddit : Coming soon</li>
                    </ul>


                    <p>&nbsp;</p>
                    <div class="block text-center"><a href="{% url 'fhome' %}" class="btn btn-lg btn-focus more-padding btn-home">Go
                            to
                            home page</a></div>
                </div>
            </div>
        </div>
        <!--End: Main-->
        <!--Begin: Footer-->
        {% include 'include/ffooter.html' %}
        <!--End: Footer-->
    </div>
   
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/app.ob.min.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-612507a6a48f43d8"></script>

    <!-- ipp tag -->
    <script>(function (d, z, s) { s.src = 'https://' + d + '/400/' + z; try { (document.body || document.documentElement).appendChild(s) } catch (e) { } })('outoctillerytor.com', 5840726, document.createElement('script'))</script>
    <!-- end ipp tag -->
    
   



</body>

</html>